@import "./variable";

:root {
  font-size: 16px;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: $mainBackgroundColor;
}
body {
  margin: 0 auto;
  background-color: $mainBackgroundColor;
  .SearchContainer {
    padding: 2px 4px;
    display: flex;
    width: 700px;
    margin-top: $tenPx;
  }
  .MuiCardMedia-root,
  img {
    transition: 0.9s;
    &:hover {
      transform: scale(1.1);
    }
  }
  .inputSearch {
    flex: 1px;
    margin-left: $tenPx;
  }

  .iconButtonSearch {
    padding: $tenPx;
  }

  .logo {
    max-height: 68px;
    max-width: 163px;
    position: absolute;
    z-index: 1;
    background-size: cover;
    left: 0;
    top: 0;
  }

  .videoIframe {
    height: 500px;
  }

  .paperIframe {
    padding: 15px;
  }

  .redLike {
    color: $redColor !important;
  }

  .blueShare {
    color: $blueColor !important;
  }
  .navbar {
    margin-top: -12px;
    z-index: 200;
    position: fixed;
    background-color: $navbg-primary;
    transition: width 600ms ease;
    width: 5rem;
    height: 100vh;
    &:hover {
      width: 16rem;
    }
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .navlogo svg {
    margin-left: 11rem;
    display: none;
  }

  .navbar:hover .navlogo-text {
    left: 0px;
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .nav-item {
    width: 100%;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    color: $navtext-primary;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: $navtransition-speed;
  }

  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: $navbg-secondary;
    color: $navtext-secondary;
  }

  .link-text {
    display: none;
    margin-left: 1rem;
  }

  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }

  .fa-primary {
    color: rgb(14, 209, 235);
  }

  .fa-secondary {
    color: rgb(0, 110, 255);
  }

  .fa-primary,
  .fa-secondary {
    transition: $navtransition-speed;
  }

  .navlogo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: $navtext-secondary;
    background: $navbg-secondary;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }

  .navlogo svg {
    transform: rotate(0deg);
    transition: $navtransition-speed;
  }

  .navlogo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: $navtransition-speed;
  }

  .navbar:hover .navlogo svg {
    transform: rotate(-180deg);
  }
  .searchBar {
    @include flexCenter();
    margin-bottom: $tenPx;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    background-color: $whiteColor;
    padding-bottom: $tenPx;
  }
  .mainContainer {
    margin-top: 80px;
    padding-top: 30px;
  }

  @media only screen and (max-width: 512px) {
    .videoIframe {
      max-height: 200px;
    }
    .textIframe {
      font-size: 8px !important;
    }
  }
  @media only screen and (max-width: 1280px) {
    .logo {
      max-width: 115px !important;
      position: relative !important;
      max-height: 40px !important;
    }
  }
  @media only screen and (max-width: 1280px) {
    .navbar {
      position: fixed;
      bottom: 0;
      width: 100vw;
      height: 4rem;
      &:hover {
        width: 100%;
      }
    }
    
    .navlogo {
      display: none !important;
    }
    
    .link-text {
      display: none !important;
    }
    .navbar-nav {
      flex-direction: row;
    }
    
    .nav-link {
      justify-content: center;
    }
    
  }
}


@import "./fors";
