body {
    margin: 0 auto;
    background-color: hsla(0, 0%, 93.3%, 0.4);
}

.SearchContainer {
    padding: 2px 4px;
    display: flex;
    width: 700px;
    margin-top: 10px;
}

.inputSearch {
    flex: 1px;
    margin-left: 10px;
}

.iconButtonSearch {
    padding: 10px;
}

.logo {
    background-size: cover;
    max-width: 100px;
}

.videoIframe {
    height: 500px;
}

.paperIframe {
    padding: 15px;
}

@media only screen and (max-width: 500px) {
    .videoIframe {
        max-height: 200px;
    }
    .textIframe {
        font-size: 8px !important;
    }
}